html,
* {
  box-sizing: border-box;
}

body,
input {
  font: caption;
}

input {
  padding: 0.5em;
  border: 1px solid #f32e5b;
  background-color: #fbbfcd;
}

input:not(:first-of-type) {
  border-left: none;
}

button,
.button,
input[type='submit'] {
  background-color: #f32e5b;
  border: 1px solid #e10d3d;
  color: white;
  padding: 0.5em;
  transition: all 0.2s;
}

button:hover,
.button:hover,
input[type='submit']:hover {
  background-color: #f65e81;
}

button:active,
.button:active,
input[type='submit']:active {
  background-color: #f4466e;
}

button.full-width,
.button.full-width,
input[type='submit'].full-width {
  width: 100%;
  margin: 1em 0;
}

.Application {
  margin: auto;
  max-width: 400px;
}

.Grudges-searchTerm {
  background-color: white;
  margin-bottom: 0.5em;
  width: 100%;
}

.Grudge {
  border: 1px solid #f4466e;
  padding: 1em;
  margin: 1em 0;
}

.Grudge h3 {
  margin-top: 0;
}

.Grudge-forgiven {
  color: #f4466e;
}

.NewGrudge {
  display: flex;
}

.NewGrudge-input {
  width: 100%;
}
